.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
}

.section {
    background-color: white;
    margin: 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}