.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  text-align: center;
  padding: 1rem;
  margin-left: 18%;
  box-shadow: 3px 0px 2px 0px rgba(0, 0, 0, 0.75);
}